@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "View1";
}
<link href="~/Content/style.css" rel="stylesheet" />
<div class="contact">
    <h2>M Umair Manzoor</h2><br>
    <h2>Cell #</h2> : 03234302098 <br>
    <h2>Email</h2>  : umair2012.5@gmail.com <br>
</div>
