@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Login";
}

<link href="~/Content/style.css" rel="stylesheet" />

<div class="login">

    <a href="/Owner/Inventory" style="text-decoration: none">
        <p style="text-align: center; margin-top: 70px; font-size: 20px;">Manage the Products</p>
    </a>
    <a href="/Owner/UploadInventory" style="text-decoration: none">
        <p style="text-align: center; font-size: 20px;">Upload the Products</p>
    </a>

</div>