
@{
    Layout = null;
    ViewBag.Title = "Update";
}

<h2 style="margin:auto;">Your File is Updated</h2>
<div style="margin:auto">
@Html.ActionLink("Back to Inventory page", "Inventory");
    </div>
