@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/js-image-slider.js"></script>
<link href="~/Content/js-image-slider.css" rel="stylesheet" />
<link href="~/Content/generic.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />


<h2 style="margin-left: 10px; font-family: 'Adobe Arabic'">Welcome to E Shopping Store</h2>
<br>
<div class="longdiv" style="height: 1200px; width: 900px; margin-top: 15px; margin-left: 70px;" id="lng">

    <h3 style="margin-top: 10px;"><font color="black">Men's Collection</h3>
    <div class="products">
        <a href="/Product/Mens">
            <img style="height: 200px; width: 700px;" src="~/images/mens1.jpg" /></a>
    </div>
    <h3 style="margin-top: 10px;">Women's Collection</h3>

    <div class="products">
        <a href="/Product/Women">
            <div class="left" style="height: 200px; width: 350px;">
                <img style="height: 200px; width: 350px;" src="~/images/girl2.jpg" />
            </div>
            <div class="right" style="height: 200px; width: 350px;">
                <img style="height: 200px; width: 350px;" src="~/images/girl3.jpg" />
            </div>
        </a>
    </div>

    <h3 style="margin-top: 10px;">Kids Collection</h3>

    <div class="products">
        <a href="/Product/Kids">
            <div class="left" style="height: 200px; width: 350px;">
                <img style="height: 200px; width: 350px;" src="~/images/kids4.jpg" />
            </div>
            <div class="right" style="height: 200px; width: 350px;">
                <img style="height: 200px; width: 350px;" src="~/images/kids5.jpg" />
            </div>
        </a>
    </div>


    <h3 style="margin-top: 10px;">Accessories</h3>
    <a href="/Product/Accessories">
        <div class="products">
            <div class="left" style="height: 200px; width: 350px;">
                <img style="height: 200px; width: 350px;" src="~/images/chat.jpg" />
            </div>
            <div class="right" style="height: 200px; width: 350px;">
                <img style="height: 200px; width: 350px;" src="~/images/cbreslet.jpg" />
            </div>

        </div>
    </a>



</div>

